vue-codemirrorfield {
    display: flex;
    position: relative;
    @include boxmodel();

    width: 100%;
    max-width: 256px;
    min-width: 256px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

:host {
    // ... ShadowDOM styles
}